# Lecture 02

# Expressions

In [ ]:
2 + 3

In [ ]:
2 * 3

In [ ]:
2 * * 3

In [ ]:
2 ** 3

In [ ]:
2 ** 4

In [ ]:
2 / 3

In [ ]:
2 / 0

In [ ]:
1 + 2 * 3 * 4 * 5 / 6 ** 3 + 7 + 8 - 9 + 10

In [ ]:
1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 - 9 + 10

## Example: Slopes

In [ ]:
(25050 - 3262)/(1963 - 1939)

In [ ]:
(62799 - 25050)/(1976 - 1963)

## Numbers

ints vs. floats

In [ ]:
2

In [ ]:
2.0

In [ ]:
2 / 1

In [ ]:
1 + 1

In [ ]:
5 / 7000

Scientific notation is used when lots of digits

In [ ]:
5 / 7000000

In [ ]:
7.14e-07

In [ ]:
0.000000000000000123456789

In [ ]:
0.000000000000000123456789 ** 30

In [ ]:
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.2

Be careful about numerical precision!

In [ ]:
0.666666666666666666123456789

In [ ]:
0.6666666666666666 - 0.6666666666666666123456789

In [ ]:
2 ** 0.5

In [ ]:
(2 ** 0.5) * (2 ** 0.5)

In [ ]:
(2 ** 0.5) * (2 ** 0.5) - 2

### Discussion Question

ranke in order from least to greatest

In [ ]:
3 * 10 ** 10

In [ ]:
10 * 3 ** 10

In [ ]:
(10 * 3) ** 10

In [ ]:
10 / 3 / 10

In [ ]:
10 / (3 / 10)

## Names

In [ ]:
more_than_1 = 2 + 3

In [ ]:
more_than_1

In [ ]:
more_than_1 * 2

In [ ]:
more_than_1

Only the last line prints when putting multiple lines in a cell:

In [ ]:
more_than_1
7+7

In [ ]:
x = 4
y = x + 1
y

Setting `x` doesn't change y:

In [ ]:
x = 3
x

In [ ]:
y

## Growth

In [ ]:
fed_budget_2010 = 3176000000000
fed_budget_2020 = 6100000000000
fed_budget_2020 / fed_budget_2010

In [ ]:
fed_budget_2010 = 3.17
fed_budget_2020 = 6.1
fed_budget_2020 / fed_budget_2010

In [ ]:
g = (fed_budget_2020 / fed_budget_2010) ** (1/10) - 1
g

In [ ]:
(1 + g) ** 10 * fed_budget_2010

# Data Types

In [ ]:
abs(-12)

Don't worry about learning all the functions.

In [ ]:
round(5 - 1.3333)

In [ ]:
round(5 - 1.3333, 2)

In [ ]:
max(2, 2 + 3, 4)

In [4]:
import math
math.sqrt(9)

3.0

In [ ]:
9 ** 0.5

Introduce shortcuts

In [ ]:
math.sin(math.pi / 2)

`math.log` and how to read optional arguments.

In [ ]:
math.log(1000)

In [ ]:
math.pow(math.e, 6.907755278982137)

# Discussion Question!

## which of the following commands results in an error?

In [1]:
x = 3
y = -2.0

In [2]:
abs (x, y)

TypeError: abs() takes exactly one argument (2 given)

In [5]:
math.pow(x,abs(y))

9.0

In [8]:
max(x,round(abs(y ** 2)))

4

In [9]:
math.pow(x, math.pow(y, x))

0.00015241579027587258

## Strings

In [11]:
"data " + "science"

'data science'

In [12]:
'it's an error'

SyntaxError: invalid syntax (<ipython-input-12-b0f7c520dae9>, line 1)

In [ ]:
"it's ok"

In [13]:
"la"*3

'lalala'

In [14]:
"Cause the players gonna "+"play " * 5

'Cause the players gonna play play play play play '

In [15]:
"And the haters gonna "+ "hate " * 5

'And the haters gonna hate hate hate hate hate '

In [16]:
"Baby, I'm just gonna " + "shake " * 5

"Baby, I'm just gonna shake shake shake shake shake "

In [17]:
"I shake it off" * 2

'I shake it offI shake it off'

In [ ]:
'data'.count('a')

In [ ]:
'Mahdi is kinda cool'.replace('kinda', 'very')

## Types

In [ ]:
3

In [ ]:
3.0

In [ ]:
type(3)

In [ ]:
type(3.0)

In [ ]:
type("three")

In [ ]:
type("3")

In [ ]:
3 + 3

In [ ]:
"3" + "3"

In [ ]:
3 + "3"

^ Type error

In [ ]:
int('3' + '4') + 5

In [ ]:
fraction = ".123456789"
fraction + fraction

In [ ]:
3 > 2

In [ ]:
type(3 > 2)

 # Arrays

In [ ]:
richie = 40
david = 10
daf = 8
angel = 12
Mahdi = 0

Everyone meets each other

In [ ]:
richie = richie + 4
david = david + 4
daf = daf + 4
angel = angel + 4
Mahdi = Mahdi + 4

In [ ]:
mahdi

This is a pain!

In [ ]:
make_array ([40, 10, 8, 12, 0])

In [18]:
from datascience import *

In [ ]:
friendship = make_array ([40, 10, 8, 12, 0])
friendship

In [ ]:
friendship + 4

### Slids

In [ ]:
baseline_high = 14.48
highs = make_array(baseline_high - 0.880, #1850
                   baseline_high - 0.093, #1900
                   baseline_high + 0.105, #1950
                   baseline_high + 0.684  #2000
                  ) 
highs

In [ ]:
(9/5) * highs + 32

In [ ]:
baseline_low = 3.00
lows = make_array(baseline_low - 0.872, 
                  baseline_low - 0.629,
                  baseline_low - 0.126, 
                  baseline_low + 0.728)
lows

In [ ]:
highs - lows

## Ranges

In [ ]:
np.arange(5)

### Leibniz formula for π

$$\pi = 4 \cdot \left(\frac{1}{1} - \frac{1}{3} + \frac{1}{5} - \frac{1}{7} + \frac{1}{9} - \frac{1}{11} + \dots\right)$$

In [19]:
import numpy as np

In [30]:
x = 0
y = 1
count = True
for i in range(1,10001):
    if count == True:
        x+=1/(y)
    else:
        x-=1/y
    count = not count
    y+=2
4 * x

3.1414926535900345

In [33]:
a = np.arange(1, 10000, 4)
a

array([   1,    5,    9, ..., 9989, 9993, 9997])

In [34]:
4 * sum(1/a - 1/(a+2))

3.1413926535917893

# Tables

In [ ]:
import numpy as np
np.set_printoptions(threshold=50)

In [ ]:
from datascience import *

In [ ]:
Table()

In [ ]:
Table().with_columns('Petals', make_array(8, 34, 5))

In [ ]:
Table().with_columns(
    'Petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

In [ ]:
flowers = Table().with_columns(
    'Petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

flowers.with_column(
    'Color', make_array('pink', 'yellow', 'red')
)

In [ ]:
flowers

## Mutation

##### example

In [ ]:
flowers = flowers.with_column(
    'Color', make_array('pink', 'yellow', 'red')
)

In [ ]:
flowers

## Minard's Map

In [ ]:
minard = Table.read_table('minard.csv') 
minard

In [ ]:
minard.num_columns

In [ ]:
minard.labels

In [ ]:
minard.relabeled('City', 'City Name')

In [ ]:
minard = minard.relabeled('City', 'City Name')
minard

In [ ]:
minard.column('Survivors')

Let's add a column:

In [ ]:
initial = minard.column('Survivors').item(0)
minard = minard.with_column(
    'Percent Surviving', minard.column('Survivors')/initial
)
minard

In [ ]:
minard.set_format('Percent Surviving', PercentFormatter)

In [ ]:
minard.select('Longitude', 'Direction')

Discussion question: Why does this error?

In [ ]:
minard.select(0, 3).select(3)

In [ ]:
minard.select(0, 3).select(1)

In [ ]:
minard.column('Survivors') + 1

In [ ]:
minard.select('Survivors') + 1

In [ ]:
minard.drop('Longitude', 'Latitude', 'Direction')

## Sort

In [35]:
nba = Table.read_table('nba_salaries.csv')
nba

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [36]:
nba.show(3)

So how do I find the player who made the most money?

In [ ]:
nba.sort(3)

In [ ]:
nba.sort(3, descending=True)

In [ ]:
help(nba.sort)

In [ ]:
nba.sort(3, descending=True).sort(1)

In [46]:
nba.sort(3, descending=True).sort(1, distinct=True)

PLAYER        | POSITION | TEAM                 | '15-'16 SALARY
Dwight Howard | C        | Houston Rockets      | 22.3594
Chris Bosh    | PF       | Miami Heat           | 22.1927
Chris Paul    | PG       | Los Angeles Clippers | 21.4687
Kobe Bryant   | SF       | Los Angeles Lakers   | 25
Dwyane Wade   | SG       | Miami Heat           | 20

Discussion question: What is wrong with ths following line?

In [ ]:
nba.sort(3, descending=True).select('PLAYER').sort('PLAYER', descending=True)

## Lists

Arrays all need the same type of thing.

In [37]:
make_array(2, 'three')

array(['2', 'three'], dtype='<U21')

Lists don't care.

In [38]:
[2, 'three']

[2, 'three']

In [39]:
type([2, 'three'])

list

In [40]:
row = ['Mahdi Zareei', 'PG', 'Tec Data Scientists', 0.0]
nba.with_row(row).sort(3)

PLAYER                 | POSITION | TEAM                | '15-'16 SALARY
Mahdi Zareei           | PG       | Tec Data Scientists | 0
Thanasis Antetokounmpo | SF       | New York Knicks     | 0.030888
Jordan McRae           | SG       | Phoenix Suns        | 0.049709
Cory Jefferson         | PF       | Phoenix Suns        | 0.049709
Elliot Williams        | SG       | Memphis Grizzlies   | 0.055722
Orlando Johnson        | SG       | Phoenix Suns        | 0.055722
Phil Pressey           | PG       | Phoenix Suns        | 0.055722
Keith Appling          | PG       | Orlando Magic       | 0.061776
Sean Kilpatrick        | SG       | Denver Nuggets      | 0.099418
Erick Green            | PG       | Utah Jazz           | 0.099418
... (408 rows omitted)

## Take

In [41]:
nba.take(0)

PLAYER       | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap | PF       | Atlanta Hawks | 18.6717

In [42]:
nba.take(make_array(0, 1, 2))

PLAYER         | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap   | PF       | Atlanta Hawks | 18.6717
Al Horford     | C        | Atlanta Hawks | 12
Tiago Splitter | C        | Atlanta Hawks | 9.75625

In [43]:
nba.sort(3, descending=True).take(make_array(0, 1, 2))

PLAYER       | POSITION | TEAM                | '15-'16 SALARY
Kobe Bryant  | SF       | Los Angeles Lakers  | 25
Joe Johnson  | SF       | Brooklyn Nets       | 24.8949
LeBron James | SF       | Cleveland Cavaliers | 22.9705

In [45]:
rich = nba.sort(3, descending=True).take(make_array(0, 1, 2))
rich.sort(2)

PLAYER       | POSITION | TEAM                | '15-'16 SALARY
Joe Johnson  | SF       | Brooklyn Nets       | 24.8949
LeBron James | SF       | Cleveland Cavaliers | 22.9705
Kobe Bryant  | SF       | Los Angeles Lakers  | 25

In [44]:
nba.sort?

In [ ]:
nba

In [ ]:
np.arange(8, 15)

In [ ]:
nba.take(np.arange(8, 15))

## Where

In [47]:
salary = 3
nba.sort(salary)

PLAYER                 | POSITION | TEAM                 | '15-'16 SALARY
Thanasis Antetokounmpo | SF       | New York Knicks      | 0.030888
Jordan McRae           | SG       | Phoenix Suns         | 0.049709
Cory Jefferson         | PF       | Phoenix Suns         | 0.049709
Elliot Williams        | SG       | Memphis Grizzlies    | 0.055722
Orlando Johnson        | SG       | Phoenix Suns         | 0.055722
Phil Pressey           | PG       | Phoenix Suns         | 0.055722
Keith Appling          | PG       | Orlando Magic        | 0.061776
Sean Kilpatrick        | SG       | Denver Nuggets       | 0.099418
Erick Green            | PG       | Utah Jazz            | 0.099418
Jeff Ayres             | PF       | Los Angeles Clippers | 0.111444
... (407 rows omitted)

In [48]:
nba.where(salary, are.above(10))

PLAYER         | POSITION | TEAM              | '15-'16 SALARY
Paul Millsap   | PF       | Atlanta Hawks     | 18.6717
Al Horford     | C        | Atlanta Hawks     | 12
Joe Johnson    | SF       | Brooklyn Nets     | 24.8949
Thaddeus Young | PF       | Brooklyn Nets     | 11.236
Al Jefferson   | C        | Charlotte Hornets | 13.5
Nicolas Batum  | SG       | Charlotte Hornets | 13.1253
Kemba Walker   | PG       | Charlotte Hornets | 12
Derrick Rose   | PG       | Chicago Bulls     | 20.0931
Jimmy Butler   | SG       | Chicago Bulls     | 16.4075
Joakim Noah    | C        | Chicago Bulls     | 13.4
... (59 rows omitted)

In [ ]:
nba.where(salary, are.above(10)).sort(salary)

In [ ]:
nba.where('TEAM', 'Golden State Warriors')

In [ ]:
nba.where('TEAM', are.containing('Los Angeles')).sort(salary)

In [ ]:
nba.where(salary, are.between(3, 4))

In [ ]:
nba.where('PLAYER', are.equal_to('Stephen Curry'))